$img: "https://www.incimages.com/uploaded_files/image/1920x1080/getty_520700958_364534.jpg";

.slider-bg {
    background-image: url($img);
    height: 80vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    box-shadow: inset 0 0 0 2000px #151d2263;
    transition: all 0.4s;
}

.slider-1 {
    height: 60vh;
}

.slider-bg:hover {
    box-shadow: inset 0 0 0 2000px #030405a2;
    background-size: 110%;
    cursor: pointer;
}

header {
    background-color: white;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 15px;
    border-left: 10px solid #3b82f6;
}

.divider {
    display: inline-flex;
    gap: 20px;
}

@media (min-width: 1920px) {
    .divider-1 {
        flex: 1.5;
    }
    .divider-2 {
        flex: 1;
    }
}

@media (min-width: 1440px) and (max-width: 1600px) {
    .divider-1 {
        flex: 1.46;
    }
    .divider-2 {
        flex: 1;
    }
}

@media (min-width: 1366px) and (max-width: 1400px) {
    .divider-1 {
        flex: 1.31;
    }
    .divider-2 {
        flex: 1;
    }
}

@media (max-width: 1365px) {
    .divider-1 {
        flex: 4;
    }
    .divider-2 {
        flex: 1;
    }
}
